body {
  background-color: beige;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: navajowhite;
  border-radius: 4px;
  border:  4px solid black;
}

#container {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #eee;
  background-color: #888;
  font-family: 'Courier New', Courier, monospace;
}

#container span.time {
  font-weight: 400;
  color:#eee
}

#container span.time:hover {
  font-weight: bolder;
}

#container span.date {
  font-weight: 400;
  color:#eee
}

#container span.date:hover {
  font-weight: bolder;
}